node_modules/
.next/
.env
*.log
public/uploads/payment-screenshots/*
!public/uploads/payment-screenshots/.gitkeep
public/uploads/application-documents/*
!public/uploads/application-documents/.gitkeep
